extends navbar

block title
  title Eduasis

block content
  h1.noticias  NEWS 
  .resrsPage-Content
    .resources-box
      .resource-box
        .profile-topbar(style='height: 60px;')
          img.profile-picture(src='https://www.w3schools.com/w3css/img_avatar3.png' style='height: 60px; width: 60px;')
          .profile-name(style='font-size: 20px;') Kirubaito
        .resource-post(style='height: 60px;')
          .profile-name(style='font-size: 20px; margin-left: 20px;') Resource
        a.resource1(style='font-size: 30px;') Resource title
      .resource-box
        .profile-topbar(style='height: 60px;')
          img.profile-picture(src='https://www.w3schools.com/w3css/img_avatar3.png' style='height: 60px; width: 60px;')
          .profile-name(style='font-size: 20px;') Trina
        .resource-post(style='height: 60px;')
          .profile-name(style='font-size: 20px; margin-left: 20px;') Post
        a.resource1(style='font-size: 15px; margin-left: 20px;')
          | aaaaaaaa aaaaaaaaa aaaaaaa aaaaaa aa aaaaaaa aaaaa aaa aaaaaa aaaaa aaaaaaaaaa aaaaaa aaaaaa
      .resource-box
        .profile-topbar(style='height: 60px;')
          img.profile-picture(src='https://www.w3schools.com/w3css/img_avatar3.png' style='height: 60px; width: 60px;')
          .profile-name(style='font-size: 20px;') Trina
        .resource-post(style='height: 60px;')
          .profile-name(style='font-size: 20px; margin-left: 20px;') Resource
        a.resource1(style='font-size: 30px;') Resource title
