extends navbar

block title
  title Management

block content
  .new-resource
    p.register_sign Add a Resource Type
    form
      .resource-form(style='align-self:center; justify-content: space-around;')
        input.type-text(type='text' placeholder='Type Name' value='')
        button.add-type(align='center') Add Type
