extends navbar.pug

block title
  title New Post


block content
  .new-resource
    p.register_sign New Post
    form
      .resource-form
        | Id resource:    
        .new-resource-text
          input.un(type='text' placeholder='Id_resource')
      .resource-form
        | Description:
        .new-resource-text
          textarea.un.new-resource-textbox(type='text' placeholder='Description')
      button.submit(align='center') Submit
