extends navbar.pug

block title
  title New Resource


block content
  .new-resource
    p.register_sign New Resource
    form(action='/new_resource' method='post' enctype="multipart/form-data")
      .resource-form
        | Title:    
        .new-resource-text
          input.un(type='text' placeholder='Title' required='required' name="title")
      .resource-form(style='margin-bottom: 30px;')
        | Type:
        .new-resource-text
          select#afilition.edit-form(name='type_id')
            each t in types
              option(value=t.type_id)= `${t.name}`
      .resource-form
        | Description:
        .new-resource-text
          textarea.un.new-resource-textbox(type='text' placeholder='Description' name="description")
      .resource-form(style='margin-bottom: 30px;')
        | Visibility:
        .new-resource-text
          select#visibility.edit-form(name='visibility')
            option(value='0') Public
            option(value='1') Private
      .resource-form
        label(for='file-upload')
          u Choose File:
          //- required='required'
        input#file-upload(type='file' multiple='' accept=".zip"  name="arquive") 
        .new-resource-text(align='center' style='margin-bottom: 15px;')
          span#select-file Nothing selected
          #file-upload-filename
        span#clear(style='display: none;')
          //- label.material-icons(for='clear_list') clear
      button.submit(align='center') Submit
  script.
    var input = document.getElementById( 'file-upload' );
    var infoArea = document.getElementById( 'file-upload-filename' );
    input.addEventListener( 'change', showFileName );
    var clear = document.getElementById( 'clear_list' );
    clear.addEventListener( clear_list );
    function showFileName( event ) {
    // the change event gives us the input it occurred in
    var input = event.srcElement;
    var select = document.getElementById("select-file");
    var clear = document.getElementById("clear");
    select.style.display = "none";
    clear.style.display = "inline";
    // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
    var fileName = input.files[0].name;
    // use fileName however fits your app best, i.e. add it into a div
    // infoArea.textContent = 'File name: ' + fileName;
    infoArea.textContent = fileName;
    }
    function clear_list() {
    var select = document.getElementById("select-file");
    var clear = document.getElementById("clear");
    select.style.display = "inline";
    clear.style.display = "none";
    var fileName="";
    infoArea.textContent = fileName;
    }
