extends navbar.pug

block title
  title Edit Profile
  style.
    @media (max-width: 1650px) {
    .doublebox-page-leftBox-button{
    display: none;
    }
    .doublebox-page-leftBox-innerBox{
    justify-content: center;
    height: 20rem;
    }
    .doublebox-page-leftBox{
    height: 27rem;
    }
    }

block content
  .doublebox-page-content
    .doublebox-page-leftBox
      .doublebox-page-leftBox-outerBox
        .doublebox-page-leftBox-innerbox
          form(action='/profile_edit' method='post' enctype='multipart/form-data')
            label(for='fileToUpload')
              .profile-pic-edit(style="background-image: url('/static/images/pato.png')")
                span.material-icons camera_alt
                span Change Image
            input#fileToUpload(type='File' name='avatar_url')
          h1= `${user.username}`
        a.doublebox-page-leftBox-button(href='/html/profile_edit.html')
          .doublebox-page-leftBox-button-inner
            | Save changes
    .doublebox-page-rightBox
      .doublebox-page-rightBox-innerbox
        .doublebox-page-rightBox-innerbox-section-box
          .doublebox-page-rightBox-innerbox-section-box-editTitle
            h1 Email
            .flexFiller
            input.edit-form(type='text' placeholder=`${user.email}` name='email')
        .doublebox-page-rightBox-innerbox-section-box
          .doublebox-page-rightBox-innerbox-section-box-editTitle
            h1 Nickname
            .flexFiller
            input.edit-form(type='text' placeholder=`${user.nickname}` name='nickname')
        .doublebox-page-rightBox-innerbox-section-box
          .doublebox-page-rightBox-innerbox-section-box-editTitle
            h1 Afiliation
            .flexFiller
            input.edit-form(type='text' placeholder=`${user.afilition}` name='afilition')
            //- select#afilition.edit-form(name='afilition')
              option(value='student') Student
              option(value='professor') Professor
        a.savechangesbtn(href='')
          .centerStuff
            h1 Save Changes
