head
  link(rel='stylesheet' href='/static/css/style.css')
  link(rel='stylesheet' href='/static/css/normalize.css')
  link(href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='icon' href='/static/images/logo.png' type='image/x-icon')
  title Profile
.topnav
  a.links(href='/eduasis')
    img(src='/static/images/logo.png' style='width:13%;height:2%;')
    | Eduasis
  .topnav-right
    a.links(href='#news') New Resours
    a.links(href='#contact') New Post
    a.active(href='/profile') Profile
.profile_pic
  img(src='/static/images/user.png' style='width:160px;height:160px;')
.profile_name
  h1 #{user.nickname}
  h3 #{user.username}
  h4 #{user.email}
hr