head
    link(rel='stylesheet' href='/static/css/style.css')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='icon' href='/static/images/logo.png' type='image/x-icon')
    title Register
.register
  p.register_sign(align='center') Register
  form(method="POST" action="/register" onsubmit="return validateForm()" name="register-form")
    input.un(type='text' align='center' placeholder='Username' required='required' name="username")
    input.un(type='text' align='center' placeholder='Nickname' required='required' name="nickname")
    input.un(type='text' align='center' placeholder='Email address' required='required' name="email")
    div
        input#pass.pass(type='password' align='center' class="" value="" placeholder='Password' name="password" required='required')
        i.fa.fa-eye.fa-eye-slash(onclick='changeEye(this, 1)')
    div
        input#repass.pass(type='password' name="repassword" align='center' class="" value="" placeholder='Confirm password' required='required')
        i.fa.fa-eye.fa-eye-slash(onclick='changeEye(this, 2)')
    button.submit(align='center') Register
    .forgot(align='center')
            a(href='/login') Login

script.
  function changeEye(icon, id) {
    if(id == 1)
      var x = document.getElementById("pass");
    else
      var x = document.getElementById("repass");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
    icon.classList.toggle("fa-eye-slash");

    var pass = document.getElementById("pass");
    var repass = document.getElementById("repass");
    if (pass.value != repass.value) {
      pass.classList.remove('has-success');
      pass.classList.add('has-error');
      repass.classList.remove('has-success');
      repass.classList.add('has-error');
    }
    else{
      pass.classList.remove('has-error');
      pass.classList.add('has-success');
      repass.classList.remove('has-error');
      repass.classList.add('has-success');
    }
  }

  function validateForm() {
    var pass = document.getElementById("pass");
    var repass = document.getElementById("repass");
    if (pass.value != repass.value) {
      pass.classList.remove('has-success');
      pass.classList.add('has-error');
      repass.classList.remove('has-success');
      repass.classList.add('has-error');
      return false;
    }
    else{
      pass.classList.remove('has-error');
      pass.classList.add('has-success');
      repass.classList.remove('has-error');
      repass.classList.add('has-success');
      return true;
    }
  }