extends navbar

block title
  title Eduasis

block content
  .resrsPage-Content
    .resources-box
      form.search-box
        .search
          input.search-text(type='text' placeholder=' Search...')
        select#type_id.search-type(name='type_id')
          each t in types
            option(value=t.type_id)= `${t.name}`
        button.fa.fa-search(style='padding-right: 20px;')

    .resources-box
      each r in resources
        .resource-box
          .profile-topbar(style='height: 60px;')
            img.profile-picture(src='https://www.w3schools.com/w3css/img_avatar3.png' style='height: 60px; width: 60px;')
            .profile-name(style='font-size: 20px;')= r.author
          a.resource1(style='font-size: 30px;')= r.title